{% extends "base.html" %}

{% block title %}Delete Post{% endblock title %}
{% block subtitle %}The post will be deleted forever (not archived).{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
    {% csrf_token %}
    <div class="form-group">
        Are you sure you want to proceed?
        <br>
        This action is <span class="text-danger">irreversible</span>.
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-form">Submit</button>
    </div>
</form>
{% endblock content %}