{% extends "base.html" %}

{% block title %}Blog Posts{% endblock title %}
{% block subtitle %}Welcome! These are all the blog posts.{% endblock subtitle %}

{% block content %}
<div class="row">
    <div class="col">
        <form type="get" action="." style="margin: 0">
            <div class="input-group mb-1">
                <input autofocus class="form-control" id="search" type="text" name="search" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="search_submit" type="submit"><i class="fas fa-search fa-fw"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
{% for post in posts %}
<div>
    <hr>
    <div class="row">
        <div class="col-9">
            <h5><a class="post-link" href="{% url 'blog:post' pk=post.pk %}">{{ post.title }}</a></h5>
            {% for tag in post.tags.all %}
            <a class="badge badge-secondary font-weight-normal" href="{% url 'index' %}?tag={{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div class="col-3">
            <time>{{ post.created_at }}</time>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}