{% extends "base.html" %}

{% block title %}404 Not Found{% endblock title %}

{% block content %}
<div>
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock content %}