{% extends "base.html" %}
{% load boxes_tags %}
{% load restruct %}

{% block title %}{% box 1 %}{% endblock title %}

{% block content %}
{% box 3 True %}
{% for post in posts %}
<div>
    <hr>
    <div class="row">
        <div class="col-9">
            <h5><a class="post-link" href="{% url 'blog:post' pk=post.pk %}">{{ post.title }}</a></h5>
            {% for tag in post.tags.all %}
            <a class="badge badge-secondary font-weight-normal" href="{% url 'index' %}?tag={{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div class="col-3">
            <time>{{ post.created_at }}</time>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}