{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
My Account
{% if user.is_authenticated %}
<a class="btn btn-warning" href="{% url 'account:edit' %}"><i class="fas fa-pen"></i></a>
<a class="btn btn-danger" href="{% url 'account:password_change' %}"><i class="fas fa-key"></i></a>
{% endif %}
{% endblock title %}
{% block subtitle %}View your account information.{% endblock subtitle %}

{% block content %}
<div class="container-fluid no-gutters">
    <div class="row">
        <div class="col px-0">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">First Name</th>
                        <td>{{ account.first_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td>{{ account.last_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ account.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Login</th>
                        <td>{{ account.last_login }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}