{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Account{% endblock title %}
{% block subtitle %}Editing your account information will have effect over the entire website.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <button type="submit" class="btn btn-warning btn-form">Submit</button>
    </div>
</form>
{% endblock content %}